
@{
    ViewBag.Title = "Thông tin cửa hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center">Giới thiệu</h3>

<p>
    Shop đồ chơi trẻ em hiện đang kinh doanh dưới hình thức bán hàng trực tuyến trên mạng thông qua số điện thoại đường dây nóng. Shop có dịch vụ giao hàng trên toàn quốc, vì vậy các bạn có thể truy cập và đặt hàng ở bất cứ nơi đâu. Để được tư vấn mua hàng nhanh gọn và tiện lợi hơn các bạn có thể trực tiếp đến mua hàng tại Shop.
</p>
<p>
    Đến với shop đồ chơi trẻ em, các bạn có thể lựa chọn sản phẩm đến từ những thương hiệu đồ chơi nổi tiếng trên thế giới như: Lắp ráp Lego của Đan Mạch; Búp bê Barbie, Xe HotWheels  thuộc tập đoàn Mattel  của Mỹ; Đất nặn Play-Doh của Mỹ; Thương hiệu đất nặn Let’s của Thổ Nhĩ Kỳ; Đất nặn Tuti Frutti của Canada; Đồ chơi nấu ăn Just For Chef của Hồng Kông với các thương hiệu ngày các được mở rộng. Bên cạnh đó, các bạn còn có thể tìm thấy được các thương hiệu đồ chơi Việt Nam xuất khẩu như: Anto, Toy Bricks, Blocks…, những thương hiệu đã tìm được chỗ đứng trên thị trường thế giới.
</p>
<p>
    Về mẫu mã, shop đồ chơi trẻ em mang đến cho các bạn rất nhiều sự lựa chọn về sản phẩm cũng như dịch vụ đi kèm, mang lại cho khách hàng sự hài lòng về một địa chỉ mua sắm đồ chơi trẻ em. Tất cả các mặt hàng từ búp bê, lắp ráp lego, cho đến đất nặn hay đồ chơi nấu ăn đều được shop nhập hàng đa dạng, phong phú các loại sản phẩm, cho các bạn thỏa sức lựa chọn cho bé yêu của mình. Tùy vào từng món sản phẩm mà shop có chương trình khuyến mãi tập viết và cặp xách đi kèm, cùng các sản phẩm được giảm giả với mức giá ưu đãi nhất.
</p>
<p>
    Về chất lượng, sản phẩm tại shop đến từ những  thương hiệu uy tín, bảo đảm về mặt chất lượng, từng món sản phẩm đều được làm từ chất liệu chuyên dùng sản xuất đồ chơi trẻ em, cực kỳ an toàn. Các chi tiết được thiết kế tỉ mỉ, vị trí góc nhọn được bo tròn, tránh gây thương tích cho bé khi chơi, nên các bậc phụ huynh có thể hoàn toàn yên tâm lựa chọn cho bé.
</p>    
<p>
    Với uy tín hàng đầu, shop đồ chơi trẻ em sẽ là lựa chọn hoàn hảo cho các bậc phụ huynh tìm thấy những món đồ chơi phù hợp, chất lượng cho con yêu của mình, giúp các bé nuôi dưỡng trí tuệ và phát triển trí thông minh theo từng món đồ chơi.
</p>
<p style="text-align:center;">
    <b>“Đồ chơi trẻ em nuôi dưỡng trí tuệ, ươm mầm tương lai”</b>
</p>   
<p>
    Shop đồ chơi trẻ em tại Bình Dương
    <br />
    <br />
    Địa chỉ: đường DT748 ,ấp Bến Liễu, xã Phú An, thị xã Bến Cát, Bình Dương.
    <br />
    <br />
    HOTLINE: 0869840210 - 0327503770
    <br />
    <br />
    Mail: phongha676@gmail.com
    <br />
    <br />
    Website: <a href="http://dochoitreem.somee.com" target="_blank">http://dochoitreem.somee.com</a>
</p>    

   


