
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span><b>Tin xem nhiều</b>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="demo2">
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post179/Cach-tao-trang-tin-tuc-moi-bang-Bootstrap.html">Cách tạo trang tin tức mới bằng Bootstrap</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post178/Cach-tao-menu-dropdown-bang-Bootstrap.html">Cách tạo hiệu ứng Slide Down và Slide Up cho menu</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post176/Cach-thiet-ke-giao-dien-Quickcart-bang-Bootstrap.html">Cách thiết kế giao diện Quickcart bằng Bootstrap</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post178/Cach-tao-menu-dropdown-bang-Bootstrap.html">Cách tạo hiệu ứng Slide Down và Slide Up cho menu</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post239/Huong-dan-cach-tao-chuc-nang-loc-cho-bang-bang-Bootstrap.html">Hướng dẫn cách tạo chức năng lọc cho bảng bằng Bootstrap</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post237/Huong-dan-cach-tao-thu-vien-hinh-bang-Bootstrap.html">Hướng dẫn cách tạo thư viện hình bằng Bootstrap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer"> </div>
    </div>
</div>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span><b>Tin mới</b>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="demo2">
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post179/Cach-tao-trang-tin-tuc-moi-bang-Bootstrap.html">Cách tạo trang tin tức mới bằng Bootstrap</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post178/Cach-tao-menu-dropdown-bang-Bootstrap.html">Cách tạo hiệu ứng Slide Down và Slide Up cho menu</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post176/Cach-thiet-ke-giao-dien-Quickcart-bang-Bootstrap.html">Cách thiết kế giao diện Quickcart bằng Bootstrap</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post178/Cach-tao-menu-dropdown-bang-Bootstrap.html">Cách tạo hiệu ứng Slide Down và Slide Up cho menu</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post239/Huong-dan-cach-tao-chuc-nang-loc-cho-bang-bang-Bootstrap.html">Hướng dẫn cách tạo chức năng lọc cho bảng bằng Bootstrap</a>
                        </li>
                        <li class="news-item">
                            <a href="http://hocwebgiare.com/blog-detail/Bootstrap/post237/Huong-dan-cach-tao-thu-vien-hinh-bang-Bootstrap.html">Hướng dẫn cách tạo thư viện hình bằng Bootstrap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer"> </div>
    </div>
</div>

